/* You can add global styles to this file, and also import other style files */

@import "./assets/theme/variables";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
html,
body,
:host {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: $raven;
    background-color: $secondary;
    overflow: hidden;
}

.scroll-progress-indicator {
    height: 8px;
    width: 100%;
    background-color: $raven;
}

.indicator {
    height: 8px;
    width: 96px;
    background-color: $primary;
}

.navbar {
    padding: 0 1rem;
}

.nav-bar {
    height: 80px;
}

.navbar-light,
.bg-light {
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.navbar .container {
    padding: 0 120px;
    align-items: flex-start;
}

.navbar-brand {
    margin-right: 28px;
    padding-top: 0;
}

.navbar-toggler {
    border: none;
}

.logo {
    height: 96px;
    width: 96px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}

.navbar-light .navbar-nav .nav-link {
    color: $raven;
    font-family: 'Work Sans';
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 23px;
    text-align: center;
    padding: 0 20px;
}

.search-btn {
    border: none;
    background-color: transparent;
    margin-right: 0;
}

.search-icon {
    height: 18px;
    width: 18px;
    margin-right: 20px;
}

.search-btn {
    border: none;
    background-color: transparent;
}

.nav-toggle {
    color: $tertiary;
    font-family: 'Work Sans';
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
}

.oval {
    height: 8px;
    width: 8px;
    margin-right: 8px;
    background-color: $light-primary;
    border-radius: 50%;
}

.arrow-icon {
    height: 12px;
    width: 12px;
    margin-left: 8px;
}

// Toggle
.toggle-container {
    position: relative;
    display: inline-block;
    width: 175px;
    height: 27px;
    pointer-events: none;
}

.toggle-container input {
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    cursor: pointer;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary;
    background: linear-gradient(90deg, $dark-grey 0%, $light-grey 100%);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.56);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    transition: 0.4s;
    pointer-events: none;
    border-radius: 34px;
}

.slider::before {
    content: "Personal";
    position: absolute;
    height: 23px;
    width: 78px;
    left: 4px;
    bottom: 2px;
    padding-top: 3px;
    text-align: center;
    pointer-events: none;
    color: $raven;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $secondary;
    background: linear-gradient(180deg, $light-grey 0%, $dark-grey 100%);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.56);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    transition: 0.2s;
}

.slider::after {
    position: absolute;
    content: "Business";
    height: 24px;
    width: 75px;
    left: 102px;
    right: 10px;
    bottom: 6px;
    padding-top: 8px;
    transition: 0.2s;
    pointer-events: none;
    color: $tertiary;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

input:checked+.slider {
    color: $secondary;
    box-sizing: border-box;
    background-color: $secondary;
    background: linear-gradient(90deg, $dark-grey 0%, $light-grey 100%);
    box-shadow: inset 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

input:checked+.slider:before {
    content: "Business";
    font-size: 11px;
    transform: translateX(90px);
}

input:checked+.slider:after {
    content: "Personal";
    left: 17px;
    color: $tertiary;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 34px;
}

// Breakpoints
@media (max-width: 1920px) {
    .container {
        max-width: 1416px;
    }
    .navbar .container {
        padding: 0 120px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1320px;
    }
    .navbar .container {
        padding: 0 100px;
    }
}

@media (max-width: 1080px) {
    .container {
        max-width: 752px;
    }
    .navbar .container {
        padding: 0;
    }
}
